@model Models.UserCreate
@using Models
@{
    ViewBag.Title = "Đăng ký";
    var view = new VstViewFormat
    {
        DataSource = Model,
        Columns = new List<ColumnInfo>
        {
            new ColumnInfo { Name = "UserName",  Caption = "Tên người dùng", Type = "text", AllowNull = false },
            new ColumnInfo { Name = "Email",  Caption = "Địa chỉ Email", Type = "text", AllowNull = false },
            new ColumnInfo { Name = "Name",  Caption = "Họ và tên", Type = "text", AllowNull = false },
            new ColumnInfo { Name = "Password",  Caption = "Mật khẩu", Type = "password" },
            new ColumnInfo { Name = "ConfirmPassword",  Caption = "Nhập lại Mật khẩu", Type = "password" },
            new ColumnInfo { Name = "Role",  Caption = "Quyền", Type="text" , Disabled = true},
        },
    };
}

<h2>Đăng ký tài khoản mới</h2>
<div id="main-content"></div>

<script>
    var fields = @view.HtmlColumns;
    var values = @view.HtmlData;
    //if (values[3] != values[4])
    //    showMsg("Password khong giong nhau");
    //console.debug(values);
    var dlg = new ApiForm("/home/signup", fields, values);
    ApiMessages = ["Đăng ký thành công", "Tên đăng nhập đã tồn tại", "Mật khẩu không khớp"];

    responseOK = function () {
        window.location.href = "/home/index/";
    }
    showMsg = function (s) { alert(s); }
</script>
