@{
                ViewBag.Title = "Devices";

                var view = new VstViewFormat
                {
                    DataSource = Model,
                    Columns = new List<ColumnInfo>
{
            new ColumnInfo { Name = "Id", ClassName = "lg-12", Caption = "Mã thiết bị" , Type="text"},
            new ColumnInfo { Name = "Name", ClassName = "lg-12", Caption = "Tên thiết bị", Type="text" },
            new ColumnInfo { Name = "Status", ClassName = "status-class", Caption = "Trạng thái", Type="text", iD = "statusID" },
        },
      
    };
}

<h2>@ViewBag.Title - Test</h2>
@*<style>
        .Id {
            width: 200px;
            background-color: whitesmoke;
        }

        .Name {
            width: 400px;
        }
    </style>*@

<div id="main-content"></div>

<script>
    var fields = @view.HtmlColumns;
    var values = @view.HtmlData;

    var table = new ApiTable("/device/", fields, values, 7, null);

    var table = document.getElementsByClassName("progress-table").firstElementChild;
    var Rows = document.getElementsByTagName("tr");
    var RowsCount = Rows.length;
    var i = 1;
    for (i = 1; i < RowsCount; i++)
    {
        var content = table.rows[i].cells.item(2).innerHTML;
        console.log(content);
        console.log(content[8]);
        console.log(content[18]);
        console.log(content[28]);
        console.log(content[38]);
        if (content[8] == '0')
            table.rows[i].cells[2].innerHTML = "<label class='switch'>< input type = 'checkbox' checked><span class='slider round'></span></label >"
        else
            table.rows[i].cells[2].innerHTML = "<label class='switch'>< input type = 'checkbox' ><span class='slider round'></span></label >"

        if (content[18] == '0')
            table.rows[i].cells[2].innerHTML += "<label class='switch'>< input type = 'checkbox' checked><span class='slider round'></span></label >"
        else
            table.rows[i].cells[2].innerHTML += "<label class='switch'>< input type = 'checkbox' ><span class='slider round'></span></label >"

        if (content[28] == '0')
            table.rows[i].cells[2].innerHTML += "<label class='switch'>< input type = 'checkbox' checked><span class='slider round'></span></label >"
        else
            table.rows[i].cells[2].innerHTML += "<label class='switch'>< input type = 'checkbox' ><span class='slider round'></span></label >"

        if (content[38] == '0')
            table.rows[i].cells[2].innerHTML += "<label class='switch'>< input type = 'checkbox' checked><span class='slider round'></span></label >"
        else
            table.rows[i].cells[2].innerHTML += "<label class='switch'>< input type = 'checkbox' ><span class='slider round'></span></label >"
    }
</script>
